.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* left: 50%;   */
  margin: auto;
  width: 50%;
  height: 100vh;
}

.userspage-container{
  width: 80%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.add-user-filter-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}